:root {
  --item1URL: url("https://m.media-amazon.com/images/I/61go0qfA1iL._AC_SY879_.jpg");
  --item2URL: url("https://m.media-amazon.com/images/I/61T7-sgbZOL._AC_SL1500_.jpg");
}

body {
  background-image: url('../amazon-background-blurred.png');
  background-color: black;
  margin: 0;
  height: 80vh;
  user-select: none;
}

header {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  height: 15vh;
  z-index: 10;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10vh;
  font-weight: bold;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

.left {
  /* background-color: red; */
  height: 80vh;
  width: 40vw;
  position: fixed;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.right {
  /* background-color: blue; */
  height: 80vh;
  width: 40vw;
  position: fixed;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

img {
  width: 40vw;  /*width of parent container*/
  height: 80vh; /*height of parent container*/
  object-fit: contain;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

img:hover {
  webkit-filter: blur(1.5px); /* Chrome, Safari, Opera */
  filter: blur(1.5px);
  cursor: pointer;
}

.central-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  left: 0;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  font-size: 10vh;
  font-weight: bold;
  color: white;
  z-index: 10;
  text-shadow: 0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black;

}

.item-name {
  /* background-color: aqua; */
  text-align: center;
  position: fixed;
  top: 95%;
  left: 50%;
  width: 40vw;
  transform: translateX(-50%);
  color: white;
  font-size:  5vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-shadow: 0 0 7px black, 0 0 7px black, 0 0 7px black, 0 0 7px black;
}