:root {
  --item1URL: url("https://m.media-amazon.com/images/I/61go0qfA1iL._AC_SY879_.jpg");
  --item2URL: url("https://m.media-amazon.com/images/I/61T7-sgbZOL._AC_SL1500_.jpg");
}

* {
  box-sizing: border-box;
}

.gamepanel {
  height: 100vh;

  /* background-image: url("https://m.media-amazon.com/images/I/61go0qfA1iL._AC_SY879_.jpg"),
    url("https://m.media-amazon.com/images/I/61T7-sgbZOL._AC_SL1500_.jpg"); */

  background-image: var(--item1URL), var(--item2URL);

  background-repeat: no-repeat, no-repeat;
  background-size: 50% 100%;
  background-position: left top, right top;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: flex;
}

.left,
.right {
  font-size: 2rem;
  border-radius: 30px;
  border: none;
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 100vh;
  justify-content: center;
  padding-bottom: 8vh;
  box-sizing: border-box;
}

.rating {
  border-radius: 10px;
  padding: 0rem 1rem;
  display: table;
  background-color: rgb(19, 175, 202);
  margin-left: auto;
  margin-right: auto;
}

h1 {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 200px;
}

h2 {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 62%;
  width: 100%;
  font-size: 40px;
}

/* Item names */

.itemName {
  border-radius: 10px;
  padding: 0rem 1rem;
  margin-left: auto;
  margin-right: auto;
  display: table;
  background-color: rgb(19, 175, 202);
}

.button1 {
  border-radius: 30px;
  border: none;
  padding: 0rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5rem;
  font-weight: bold;
  margin: 1rem 0;
  white-space: nowrap;
  position: absolute;
  top: 65%;
  width: 200px;
  right: 51%;
  z-index: 20;
}

.button2 {
  border-radius: 30px;
  border: none;
  padding: 0rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 5rem;
  font-weight: bold;
  margin: 1rem 0;
  white-space: nowrap;
  position: absolute;
  top: 65%;
  width: 200px;
  left: 51%;
  z-index: 20;
}

.button--primary {
  background: rgb(4, 230, 162);
  color: white;
}

.button--primary:hover {
  background: rgb(5, 199, 141);
}
